html, body, .App{
  background-color: #3b3b3b;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  margin: 0;
  
}

body{
  height: 100%;
  padding: 0;
}
*:focus {
  outline: none !important;
}
.NavHeader{
  width: 100%;
  z-index: 2;
  position: fixed;
  font-weight: bold;
}

.colorNav{
  background-color: #1c2228;
  color: white;
}

.carousel-img-slide{
  height: 100vh;
}

.registerform{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.route{
  padding-top: 10%;
}

.userNav{
  margin-right: 5%;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}


.profil-text{
  width: 75%;
  min-width: 200px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: absolute;
}

.profil-container{
  padding-top: 120px;
  padding-left: 15px;
}

.profil-avatar{
  width: 200px !important;
  height: 200px !important;
}

.user-avatar{
  width: 250px !important;
  height: 250px !important;
  margin-left: auto;
  margin-right: auto;
 }
.modalTitle{
  text-align: center;
  border-bottom: 1px solid gray;
}
.modalEdit{
  display: flex;
  justify-content: space-between;
}

.home{
  background-image: url('/home1.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardData{
  padding-top: 8%;
  margin: 0 auto;
}
.cardContent {
  width: 100%;
  height: 100%;
}


.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

a {
  color: inherit !important;
}

.offline{
  display: inline-block;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 37, 37);
  box-shadow: 0 0 8px 2px rgb(255, 37, 37)
}

.online {
  display: inline-block;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(44, 255, 44);
  box-shadow: 0 0 8px 2px rgb(44, 255, 44)
}