.App{
  background-color: #33415c;
  height: 100vh;
}

.NavHeader{
  width: 100%;
  z-index: 2;
  position: fixed;
  font-weight: bold;
}

.carousel-img-slide{
  height: 100vh;
}

.registerform{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.route{
  padding-top: 10%;
}

.userNav{
  margin-right: 5%;
}